@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #0a110d;
        --surface: #17201b;
        --surface-light: #27332c;
        --primary: #26a269;
    }
}

@layer components {
    .button {
        @apply px-4 py-2 bg-primary-100 rounded-lg inline-flex flex-row gap-2 justify-center items-center disabled:bg-surface-light
    }

    .input {
        @apply p-2 rounded-lg bg-surface-light
    }
}

dialog {
    max-height: none;
}
