<form class="flex flex-col gap-4 h-full justify-between"
      hx-post="destinations/docker/create"
      hx-on:destination-created="create_docker_destination.close()">
    <div class="flex flex-col grow gap-3 text-white">
        <div class="flex flex-col gap-1">
            <label for="name">Name</label>
            <input id="name" name="name" class="p-2 rounded bg-surface-light" value="@Name"/>
        </div>
        <div class="flex flex-col gap-1">
            <label for="endpoint">Endpoint</label>
            <input id="endpoint" name="endpoint" class="p-2 rounded bg-surface-light" value="@Endpoint"/>
        </div>
    </div>
    <div id="docker-version-info">
    </div>
    <div class="flex flex-row-reverse items-end gap-2">
        <button type="submit"
                class="px-4 py-2 bg-primary-100 rounded-lg inline-flex flex-row gap-2 justify-center items-center">
            Create
        </button>
        <button hx-post="/destinations/docker/test"
                hx-vals="#endpoint"
                hx-target="#docker-version-info"
                class="px-4 py-2 bg-primary-100 rounded-lg inline-flex flex-row gap-2 justify-center items-center">
            Test Connection
        </button>
    </div>
</form>

@code {
    [Parameter] public string? Name { get; set; }
    [Parameter] public string? Endpoint { get; set; }
    [Parameter] public string? Version { get; set; }
}
