@using Module.Destination.Contract
@using Modules.Ui
@using Modules.Ui.Layouts

@layout RootLayout

<div class="flex flex-col gap-4 p-6">
    <h1 class="text-2xl dark:text-white font-semibold">Destinations (Docker)</h1>
    <div class="flex py-4 justify-end" hx-disinherit="*">
        <button class="button"
                hx-get="/destinations/docker/add"
                hx-target="#create_docker_destination-content"
                hx-on::after-request="create_docker_destination.showModal()">
            <i class="ph ph-plus text-lg"></i>Add
        </button>
    </div>
    <div id="docker-destinations"
         class="grid grid-flow-row grid-cols-3 gap-4"
         hx-get="/destinations/docker"
         hx-trigger="destination-created from:body"
         hx-select="#docker-destinations"
         hx-target="#docker-destinations"
         hx-swap="outerHTML">
        @foreach (var destination in Destinations)
        {
            <div class="dark:text-white bg-surface p-4 rounded-lg flex flex-col gap-2">
                <p class="font-semibold">@destination.Name</p>
                <p>@destination.Uri</p>
            </div>
        }
    </div>
</div>

<Sheet Id="create_docker_destination" Title="Add Destination" Size="SheetSize.Small">
</Sheet>

@code {
    [Parameter] public IReadOnlyList<DockerDestination> Destinations { get; set; }
}
