@if (Version is null)
{
    <div class="px-4 py-2 bg-red-400 text-red-950 rounded-lg">
        Error! Please check the endpoint and try again.
    </div>
}
else
{
    <div class="px-4 py-2 bg-green-400 text-green-950 rounded-lg">
        Docker Engine - @Version
    </div>
}

@code {
    [Parameter] public string? Version { get; set; }
}
