@using System.Diagnostics
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.DependencyInjection
@using Modules.Shared.Interfaces

<div class="flex flex-col gap-3">
    <div class="flex flex-col gap-2">
        <label for="image-name">Image</label>
        <input id="image-name" name="image-name" class="input" value="@DockerhubMetadataForm?.ImageName"/>
        <label for="image-tag">Tag</label>
        <input id="image-tag" name="image-tag" class="input" value="@DockerhubMetadataForm?.ImageTag"/>
    </div>
</div>

@code {
    [Inject] private IHttpContextAccessor HttpContextAccessor { get; set; } = null!;

    private DockerhubMetadataForm? DockerhubMetadataForm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Debug.Assert(HttpContextAccessor.HttpContext != null, "HttpContextAccessor.HttpContext != null");

        var ploydWebStore = HttpContextAccessor.HttpContext.RequestServices.GetRequiredService<IPloydWebStore>();

        DockerhubMetadataForm = await ploydWebStore
            .RetrieveAsync<DockerhubMetadataForm>(nameof(DockerhubMetadataForm));
    }

}
