@using System.Reflection

<nav
    class="flex min-h-16 max-h-16 flex-row items-center justify-between border-b-4 border-primary-700 bg-secondary-500 px-6 py-4"
>
    <a
        href="/"
        class="inline-flex items-center justify-center gap-3 text-xl font-semibold text-white"
    >
        <img src="logo-color.png" class=" h-10" alt="Logo" />
        Konfigurinator
        <span class="items-end place-self-end "></span>
    </a>
    <div class="flex w-52 flex-row gap-4">
        <!-- <Button on:click={toggleMode} size="icon" class="min-h-8 min-w-8 border-none">
            <Moon class="h-5 w-5 rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0" />
            <Sun class="absolute h-5 w-5 rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100" />
            <span class="sr-only">Toggle theme</span>
        </Button> -->
    </div>
</nav>

@code {
    private string? _version;

    protected override void OnInitialized()
    {
        var assembly = Assembly.GetEntryAssembly() ?? throw new InvalidOperationException("Entry assembly not found");
        _version = assembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>() is { } attribute
            ? attribute.InformationalVersion[..13]
            : assembly.GetName().Version?.ToString();
    }

}
