@using System.Diagnostics
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.DependencyInjection
@using Modules.Shared.Interfaces

<div class="flex flex-col gap-3">
</div>

@code {
    [Inject] private IHttpContextAccessor HttpContextAccessor { get; set; } = null!;

    private PodmanEngineMetadataForm? PodmanEngineMetadataForm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Debug.Assert(HttpContextAccessor.HttpContext != null, "HttpContextAccessor.HttpContext != null");

        var ploydWebStore = HttpContextAccessor.HttpContext.RequestServices.GetRequiredService<IPloydWebStore>();

        PodmanEngineMetadataForm = await ploydWebStore
            .RetrieveAsync<PodmanEngineMetadataForm>(nameof(PodmanEngineMetadataForm));
    }

}
