@using System.Diagnostics
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.DependencyInjection
@using Modules.Shared.Interfaces

<div class="flex flex-col gap-3">
    <div class="flex flex-col gap-2">
        <label for="container-name">Name</label>
        <input id="container-name" name="container-name" class="input" value="@ContainerMetadataForm?.Name"/>
    </div>
</div>

@code {
    [Inject] private IHttpContextAccessor HttpContextAccessor { get; set; } = null!;

    private ContainerMetadataForm? ContainerMetadataForm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Debug.Assert(HttpContextAccessor.HttpContext != null, "HttpContextAccessor.HttpContext != null");

        var ploydWebStore = HttpContextAccessor.HttpContext.RequestServices.GetRequiredService<IPloydWebStore>();

        ContainerMetadataForm = await ploydWebStore
            .RetrieveAsync<ContainerMetadataForm>(nameof(ContainerMetadataForm));
    }

}
