@using Module.Resource.Ui.ResourceCreationWizard
@using Modules.Ui.Layouts
@layout RootLayout

<form id="wizard" class="flex flex-col gap-4 p-6 h-full"
      hx-post="resources/create/wizard">
    <h1 class="text-2xl dark:text-white font-semibold">Create resource</h1>
    <input type="hidden" name="currentStep" value="@CurrentStep"/>
    <div class="flex grow pt-8">
        @switch (CurrentStep)
        {
            case nameof(SelectSourceStep):
                <SelectSourceStep/>
                break;
            case nameof(CreateResourceStep):
                <CreateResourceStep/>
                break;
            case nameof(SelectDestinationStep):
                <SelectDestinationStep/>
                break;
            default:
                <p>Unknown step</p>
                break;
        }
    </div>
    <div class="flex justify-between">
        <button class="button"
                type="submit"
                hx-post="/resources/create/wizard?opt=back"
                hx-target="#wizard"
                hx-swap="outerHTML"
                disabled="@IsFirstStep">
            <i class="ph ph-arrow-left text-lg"></i>Back
        </button>
        @if (IsLastStep)
        {
            <button class="button"
                    type="submit"
                    hx-post="/resources/create/wizard?opt=finish"
                    hx-target="#wizard"
                    hx-swap="outerHTML">
                Finish
            </button>
        }
        else
        {
            <button class="button"
                    type="submit"
                    hx-post="/resources/create/wizard?opt=next"
                    hx-target="#wizard"
                    hx-swap="outerHTML"
                    disabled="@IsLastStep">
                Next<i class="ph ph-arrow-right text-lg"></i>
            </button>
        }
    </div>
</form>

@code {
    [Parameter] public string? CurrentStep { get; set; }
    [Parameter] public bool IsFirstStep { get; set; }
    [Parameter] public bool IsLastStep { get; set; }
}
