@using Modules.Ui.Layouts
@using Modules.Ui

@layout RootLayout

<div class="flex flex-col gap-4 p-6">
    <h1 class="text-2xl dark:text-white font-semibold">Resources</h1>
    <div class="flex p-2 justify-end" hx-disinherit="*">
        <button class="button"
                hx-get="/resources/add"
                hx-target="#create_resource-content"
                hx-on::after-request="create_resource.showModal()">
            <i class="ph ph-plus text-lg"></i>Add
        </button>
    </div>
    <div id="resources"
         class="grid grid-flow-row grid-cols-3 gap-4"
         hx-get="/resources"
         hx-trigger="resource-created from:body"
         hx-select="#resources"
         hx-target="#resources"
         hx-swap="outerHTML">
        @foreach (var resource in Resources)
        {
            @switch (resource)
            {
                case DockerResource dockerResource:
                    <div class="dark:text-white bg-surface p-4 rounded-lg flex flex-col gap-2">
                        <p class="font-semibold">@dockerResource.Name</p>
                        <p>@dockerResource.Image:@dockerResource.Tag</p>
                    </div>
                    break;
                default:
                    <div class="dark:text-white bg-surface p-4 rounded-lg flex flex-col gap-2">
                        <p>Unknown resource type</p>
                    </div>
                    break;
            }
        }
    </div>
</div>

<Sheet Id="create_resource" Title="Add Resource">
</Sheet>

@code {
    [Parameter] public IReadOnlyList<Resource> Resources { get; set; }
}
