name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: [self-hosted, linux]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 9.0.x
      - name: Build
        run: dotnet build -c Release
      - name: Test
        run: dotnet test -c Release --no-build