name: Publish

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # depth is needed for nbgv
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 9.0.x
      - name: Setup Nerdbank.GitVersioning
        uses: dotnet/nbgv@master
        id: nbgv
        with:
          setAllVars: true
      - name: Build image
        uses: VaultVulp/gp-docker-action@1.6.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          image-name: ployd
          image-tag: "${{ steps.nbgv.outputs.SemVer2 }}"
          dockerfile: src/ployd/Dockerfile
          build-context: src
      - name: Delete untagged images
        uses: actions/delete-package-versions@v5
        with:
          delete-only-untagged-versions: true
          min-versions-to-keep: 5
          package-name: ployd/ployd
          package-type: container
      - name: Create Release
        uses: actions/github-script@v5
        with:
          script: |
            github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: context.ref,
              name: "${{ steps.nbgv.outputs.SemVer2 }}",
              draft: false,
              prerelease: true,
              generate_release_notes: true
            })
